.h1class{
    background-color: #ff9999;
    color:white
}
h2{
    background-color:#e6e6e6;
    color: violet;
}
.ppink{
    background-color:#ff809f;

}
h3{
    background-color: #ffff33;
}
.linksTo{
    background-color:#33ffff;
    
}
.linksTo ul{
    list-style-type: none;
}

.main-header img{
    height: 200px;
    width: 100%;
    object-fit: cover;

}
.contact-header img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}
.intext-img-1{
    width: 100px;
    border: 5px solid rgb(240, 240, 68);
    opacity: 0.8;
    border-radius: 50%;
    float: left;
}
.intext-img-2{
    width: 90px;
    height: 90px;
    border: 5px solid rgb(20, 96, 209);
    opacity: 0.7;
    border-radius: 100px;
    float: right;
}
.intext-img-3{
    width: 100px;
    border: 5px solid rgb(194, 77, 23);
    opacity: 0.8;
    border-radius: 50%;
    float: left;

.hov:hover{
    background-color:#ccff33 ;
    color:#ff9999;
}

a:hover{
    background-color: 	#cc33ff;
    color: coral;
}
a:active{
    background-color: #ccff33;
}

span > a:visited{
    color: darkgray;
}

.contact{
    background-color:#33ffff ;
}
.contact ul li {
    list-style-type:circle;
}